<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Download Video</title>
</head>
<body>
  <h1>Download Video</h1>
  <button onclick="downloadVideo('Skidesign.mp4', '1080p')">Download in 1080p</button>
  <button onclick="downloadVideo('Skidesign.mp4', '720p')">Download in 720p</button>

  <script>
    function downloadVideo(file, resolution) {
      const url = `/api/video/download?file=${file}&resolution=${resolution}`
      window.location.href = url
    }
  </script>
</body>
</html>
